[Unit]
After=network.target

[Service]
ExecStart=/usr/bin/node /var/www/html/bin/www
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=notejam
User=www-data
Group=www-data
Environment=NODE_ENV=production
WorkingDirectory=/var/www/html/

[Install]
WantedBy=multi-user.target
